.circle-box {
  display: flex;
  column-gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 10px 0 10px;
  background-color: #fff;
  border-bottom: 1px solid #646b63;
}

.circle {
  height: 130px;
  width: 130px;
  min-width: 130px;
  border-radius: 50%;
  background-color: #646b63;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  white-space: normal;
  padding: 5px;
}

.circle-group > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-group > div > i {
  padding: 0;
  height: 10px;
  color: #646b63;
}

.circle-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.circle-box-item {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  column-gap: 10px;
  row-gap: 3px;
}

.circle-box-item > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.circle-box-item > button:hover {
  color: red;
}

.isVariousSelected {
  background-color: #c1876b !important;
  color: #fff;
}
.isVariousSelected:hover {
  color: #fff !important;
}